<title>front</title>
<div class="login">
    <form class="custom-form" [formGroup]="logins" method="post">
      <h1>Login</h1>
      <input
        type="email"
        name="email"
        formControlName="email"
        placeholder="Email"
        required="required"
      />
      
      <span *ngIf="this.logins.get('email')?.errors?.['email']" style="color: red;">
        (El mail no es válido)
      </span>
      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder="Password"
        required="required"
      />
      <span *ngIf="this.logins.get('password')?.errors?.['minlength']" style="color: red;">
        La contraseña debe ser minimo 5 caracteres
      </span>
      <button type="submit" (click)="login()">Log in</button>
      <button class="google-login-btn" (click)="loginWithGoogle()">
        <img src="assets/google-logo.png" alt="Google Logo" />
        Iniciar sesión con Google
      </button>
    </form>

  </div>
  